[2019-04-04 22:48] dragon1672 opened #2 "Inline lib functions to templates"
https://github.com/forseti-security/policy-library/tree/master/lib
the lib function calls should be inlined in the template yaml files. So that the rego in the template yaml file doesn't require any additional dependencies.

[2019-04-05 16:25] alexsgoogle opened #3 "Docs | input and purpose of constraints"
Is it straightforward as to what the purpose of each constraint is and the expected inputs?

Do we need to add docs / readme / comments anywhere?

[2019-04-05 16:26] alexsgoogle opened #4 "External IP | line-spacing"
Too many line-spaces in the External IP constraint template

https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_external_ip_access.yaml

[2019-04-07 17:43] alexsgoogle opened #7 "User Guide | TF repo"
Let's add a mention of where to get the TF open source code as well - probably somewhere near the end of the "How to Use Terraform" section (https://github.com/forseti-security/policy-library/blob/master/docs/user_guide.md#how-to-use-terraform-validator)

[2019-04-08 01:34] mjstatham opened #8 "User Guide | Forseti Validator"
"The one important additions is the config_validator_enabled field. It is not enabled by default; therefore you need to explicitly enable it."

Please can we reference which Forseti config file to update. Probably just easier to link to the latest [template](https://github.com/GoogleCloudPlatform/forseti-security/blob/dev/configs/server/forseti_conf_server.yaml.sample) to make it clear.

[2019-04-08 08:42] morgante commented on #8
Just a note that modifying the template only applies to the legacy Forseti installer - with the Terraform module, you just need to set `config_validator_enabled = true` on the module config.

We could probably make it slightly clearer though.

[2019-04-11 16:33] morgante opened #10 "External IP constraint doesn't detect ephemeral IPs"
Currently, if you create a new VM with an external IP via Terraform with an ephemeral IP the constraint doesn't violate.

[2019-04-15 17:17] joecheuk opened #14 "Updated resource type to reference to CAI GA resource type."
Some of the default constraint templates are referencing to the CAI v1beta1 resource type, e.g. google.compute.Network instead of compute.googleapis.com/Network

[2019-04-18 17:28] Abdennebi opened #17 "Terraform Validator Source Code ?"
In the [user guide](https://github.com/forseti-security/policy-library/blob/master/docs/user_guide.md) you are referring to the Terraform Validator Tool, is its code source available ?

[2019-04-18 17:30] Abdennebi opened #18 "Deployment Manager support"
Are you planning to support the Deployment Manager, if yes do you have a schedule otherwise do you need contributions ?

[2019-04-18 17:31] morgante commented on #17
Yes! It is open source and available [here](https://github.com/GoogleCloudPlatform/terraform-validator).

[2019-04-18 17:31] #17 closed

[2019-04-18 17:33] morgante commented on #18
Yes, this is definitely something we'd like to support. We're considering either having native platform support or a wrapper similar to Terraform. Do you have a preference?

For the wrapper approach, we'd certainly be open to contributions.

[2019-04-18 18:23] Abdennebi commented on #17
Thank you ! I missed it 😅

[2019-04-18 19:03] Abdennebi commented on #18
Thank you for your quick reply. Ideally, the tool could be called from cloudbuild.yaml (No matter if it native or wrapped).

[2019-04-18 19:46] morgante commented on #18
Absolutely, we'd plan for that in either case.

[2019-04-22 21:15] morgante commented on #2
I'm pursuing a solution for this using partial evaluation.

[2019-04-23 20:01] morgante opened #21 "Add constraint template for limiting IAM roles"
For example, forbidding the owner IAM role.

[2019-04-25 23:14] joecheuk opened #25 "Create constraint template & sample constraint to verify the Kubernetes web UI (Dashboard) is disabled"

[2019-04-25 23:14] joecheuk opened #26 "Create constraint template & sample constraint to verify the legacy ABAC is disabled"

[2019-04-25 23:16] joecheuk opened #27 "Create constraint template & sample constraint to verify network policy is being used to restrict traffic among pods"

[2019-04-26 00:02] #21 closed

[2019-04-29 16:50] joecheuk opened #32 "Consider breaking down the user guide into multiple files"
The user guide is getting bigger and is harder to filter out information.

[2019-04-29 20:21] #25 closed

[2019-04-30 18:49] Red-Five opened #35 "Feature Request: Generic Policy Example"
Request for a very generic example

- by specifying a JMSEPath (or similar) type query

- and expected query value.

E.g along similar lines to the older KE scanner examples here where a key and value are used

https://github.com/forseti-security/forseti-security/blob/v2.14.0/rules/ke_scanner_rules.yaml

[2019-05-06 08:00] joecheuk opened #40 "Config Validator can't log in constraint templates if not properly formatted."
[code]

[2019-05-06 17:13] #40 closed

[2019-05-06 23:16] t12g opened #41 ""make build" should validate template files"
To avoid issues like #40.

[2019-05-15 16:24] morgante opened #50 "Getting started in Cloud Shell"
Currently, we [reference](https://github.com/forseti-security/policy-library/blob/master/docs/user_guide.md#end-to-end-workflow-with-sample-constraint) a Cloud Shell image. It would be useful to have a straightforward "Open in Cloud Shell" for the whole policy repo which:

- Clones and opens the policy library repo
- Comes pre-installed with Terraform, Terraform Validator, and OPA

[2019-05-15 16:48] ddremund opened #52 "diskEncryptionKey: value not supported by CAI for Persistent Disks"
Attempting to write a constraint to enforce CMEK on Persistent Disks, but when generating test data I find that diskEncryptionKey: is not in the CAI output for my PDs. Opening issue per instructions in constraint_template_authoring.md.

[2019-05-15 16:59] mzinni commented on #50
Can grab OPA bin from Getting Started section:
https://www.openpolicyagent.org/docs/v0.10.7/get-started/
(change for newer OPA versions)

Example steps for Cloud Shell:
curl -L -o opa https://github.com/open-policy-agent/opa/releases/download/v0.10.7/opa_linux_amd64
chmod 755 ./opa
sudo cp opa /usr/bin/

[2019-05-15 17:07] morgante commented on #52
@ddremund Could you also open an internal bug for CAI? Thanks.

[2019-05-15 17:28] ddremund commented on #52
Roger, bug filed.

[2019-05-16 16:02] morgante commented on #2
My partial evaluation exploration didn't yield anything helpful so I'm not sure that solution will work.

[2019-05-18 21:28] #27 closed

[2019-05-18 23:59] ddremund opened #63 "Modifying fixture library likely to affect multiple constraint templates"
It appears that as the test fixtures are maintained today, the typical constraint template test often includes counting "denies" produced against the entirety of the asset fixtures for a particular resource type or set of resource types.

It seems likely that in many cases, producing new asset fixtures as required for testing newly-developed policies has the side effect of also modifying the fixtu

[2019-05-19 04:48] t12g commented on #63
Thanks for bringing this up. Sharing test data between different constraint templates doesn't seem sustainable to me either. I'd suggest taking it one step further - is there a strong reason to have a common set of test fixtures? Maybe we should make every constraint template test to have its own private set of test data?

There will be some duplication, but it's just data, not logic. The benefit

[2019-05-19 06:41] ddremund commented on #63
@t12g You're right, there would be some duplication but it is just data. I think that would vastly simplify things.

[2019-05-20 21:39] morgante commented on #63
I agree, I'd suggest we change the fixtures to be constraint-specific.

[2019-05-23 17:13] joecheuk opened #66 "gcpGCPSQLAllowedAuthorizedNetworksConstraintV1:22: rego_unsafe_var_error: var _ is unsafe"
When running the config validator as a rpc server, the following error is observed and will block the server from starting:

2019/05/23 10:11:12 Failed to load server rpc error: code = InvalidArgument desc = 1 error occurred: templates.templates.gcpGCPSQLAllowedAuthorizedNetworksConstraintV1:22: rego_unsafe_var_error: var _ is unsafe

[2019-05-23 19:55] t12g commented on #66
This issue was present in OPA 0.10.6. It's been fixed in 0.10.7. Will need to rev the config validator library and its dependencies.

[2019-05-23 22:57] #66 closed

[2019-05-24 23:03] morgante opened #71 "Add CI support"
We should add CI testing for all incoming pull requests. It should include:

- Running `make test` to test OPA files (unit test)
- Integrating testing with the config-validator or terraform-validator binaries to ensure templates can be successfully loaded and used

[2019-05-25 02:49] ddremund commented on #52
This is blocked pending review of how field redaction is determined.

[2019-05-28 04:19] ddremund commented on #63
It looks like some authors are creating their own fixture sets, some are using existing ones, and some are mixing the two. A standardized directory structure would be desirable, e.g. fixtures/<constraint-name>/<asset-type> or fixtures/<asset-type>/<constraint-name>. I prefer the former, myself.

[2019-05-28 15:02] morgante commented on #63
I think `fixtures/<asset-type>/<constraint-name>` is preferable.

[2019-05-28 15:20] ddremund commented on #63
I'm cool with `fixtures/<asset-type>/<constraint-name>`. I guess the good thing about that is it makes it easy for us to pre-create a directory structure for folks to drop their stuff in.

Once my two outstanding PRs are in I'll see what I can do with regard to creating the structure and patching some of the existing constraint tests.

[2019-05-28 15:28] morgante commented on #63
Excellent, thanks.

[2019-05-30 04:17] #26 closed

[2019-05-31 02:55] abombss commented on #35
This is a good idea, I just added PR #76 which has very basic support for something like this.  I have some thoughts on how to take it much further.  For what you are asking for it might be better served as a plugin or PR directly to OPA.  However, I assume performance might be an issue.

[2019-06-04 14:44] abombss commented on #63
@t12g I have to cleanup my test data for #76 and I just wanted to confirm what the right approach and standard should be.  My constraint is generic, it can operate on any asset type and multiple asset types so it doesn't comply well to `<asset-type>` convention above.

I was thinking something like this, to keep the data with the constraint.

[code]
So looking at #72 instead of creating a huge num

[2019-06-04 18:02] ddremund commented on #63
@abombss I like this approach. If the particular constraint needs to separate out asset fixtures by type in json files (for some reason), they can just do `<constraint-name>/assets/<asset-type>/data.json, otherwise they can just keep the json directly in `assets`. This also makes it fairly easy to patch the existing constraints.

[2019-06-04 18:03] morgante commented on #63
That SGTM.

[2019-06-04 18:05] abombss commented on #63
Cool, I'll use this approach for #76 then we can see about migrating the existing stuff.

[2019-06-04 18:14] ddremund commented on #63
@abombss I realize that, but I can imagine cases in which someone might prefer to import different classes into separate collections without having to inspect and split the data. Just mentioning that that capability would still exist.

I'll go ahead and adapt the constraint templates I authored to this new fixtures structure.

[2019-06-05 14:58] morgante commented on #63
I like the idea of organizing asset and constraint fixtures together in a single directory for each template.

So, something like what @abombss proposed:

[code]

[2019-06-05 15:00] ddremund commented on #63
I agree with the overall organization strategy. I also aesthetically prefer the shorter name matching with the rule filename.

Do we want name-based version semantics in the fixtures? Using the full constraint name ensures that versioning enforced/maintained. Name-based versioning could be added to the filenames, e.g. `bq_dataset_locatin_v1`, but it doesn't exist today. Versioning could also be do

[2019-06-05 15:04] morgante commented on #63
Earlier, we decided that only the latest version of a constraint template will be maintained (with associated Rego file and tests). Old versions are moved into a [legacy](https://github.com/forseti-security/policy-library/pull/61) directory, where the constraint template is available but it will not be actively modified going forward.

[2019-06-05 15:08] ddremund commented on #63
Cool, sounds good. Updated #80 to conform.

[2019-06-05 15:10] morgante commented on #63
@t12g Does the above approach work for you too?

[2019-06-05 23:48] abombss commented on #63
I just updated #76 to conform, I agree, I never liked the full constraint name either, the short name is much easier to work with.

[2019-06-06 17:17] t12g commented on #63
@morgante This approach SGTM. Thanks!

[2019-06-06 21:28] joecheuk opened #84 "Add constraint & constraint template to check for node SA account scopes."

[2019-06-06 21:29] joecheuk commented on #84
Resolved #79

[2019-06-06 21:29] #84 closed

[2019-06-06 21:36] joecheuk opened #85 "Restrict client auth method on GKE"
https://cloud.google.com/kubernetes-engine/docs/how-to/hardening-your-cluster

Section: Restrict Client Authentication Methods

[2019-06-06 22:56] joecheuk opened #87 "Add constraint/template to check and make sure auto upgrade is enabled on gke node."

[2019-06-07 02:39] ddremund commented on #63
With the merge of #82 we can close this issue.

[2019-06-07 02:39] #63 closed

[2019-06-07 19:44] t12g opened #92 "Constraint Template naming requirement"
When trying to feed the template yaml files to a Kubernetes cluster with Gatekeeper installed, it got denied by the Gatekeeper admission controller.

Sample error message:
[code]
Looks like Gatekeeper is requiring that the constraint template's name (under `metadata`) needs to be the same as the CRD's plural name. This convention is not enforced in policy library today.

[2019-06-07 19:45] t12g commented on #92
@maxsmythe Is this naming convention expected to stay going forward?

[2019-06-08 01:07] maxsmythe commented on #92
I think it's nice to enforce some consistency. Ideally I'd like to automate the naming

[2019-06-10 03:48] #87 closed

[2019-06-10 14:41] joecheuk opened #94 "Create constraint template to verify gke legacy endpoints is disabled"
https://cloud.google.com/kubernetes-engine/docs/how-to/hardening-your-cluster#protect_node_metadata

[2019-06-11 20:21] #94 closed

[2019-06-11 21:34] joecheuk opened #97 "Constraint to check GKE master auth network enablement"

[2019-06-11 22:21] joecheuk opened #99 "Constraint to allow only private gke cluster"

[2019-06-12 20:40] abombss commented on #35
@t12g @ddremund  @morgante I created a basic POC for a more generic constraint template

https://github.com/abombss/policy-library/tree/feature/generic-template

Its inspired by the Cloud Custodian [generic filter](https://cloudcustodian.io/docs/filters.html) syntax.

It's not feature complete yet, but I think it could be a very powerful base template for people to quickly develop constraints and

[2019-06-13 16:12] t12g commented on #35
I have some concerns about the testability of this approach. Looking at the [example](https://github.com/abombss/policy-library/blob/7a586e33a4d82bf412162432ffe4e8ba1fa43fe5/validator/test/fixtures/generic_constraint/constraints/subnets/data.yaml#L15-L54), the conditional logic is moved from template to constraint. I think we'd still want to test it (essentially shifting the testing focus from tem

[2019-06-13 18:03] #97 closed

[2019-06-14 16:33] #99 closed

[2019-06-14 16:41] #85 closed

[2019-06-14 22:57] abombss commented on #35
@t12g  That is a valid concern and something we should probably have a solution for regardless of this template.  I think we can spin up a simple little framework so end users can write tests for their constraints by just supplying a json file of the assets and the expected names of assets for violations.

While this does shift the burden of logic from the template to the constraint, another advan

[2019-06-18 00:14] morgante opened #104 "Empty target not supported"
The default target (if unspecified) should be `organizations/*` and match everything.

However, this isn't working. A constraint like this returns no violations:
[code]

If i add the target, it works:
[code]

[2019-06-19 04:11] morgante commented on #104
Fixed by https://github.com/forseti-security/config-validator/pull/45

[2019-06-19 04:11] #104 closed

[2019-06-26 21:15] joecheuk opened #110 "Remove CIS related wordings from all the samples/templates"
Due to trademark problem, we cannot ref CIS directly unless the application is certified.

[2019-06-26 21:24] morgante commented on #110
Joe, can you share more context on this? Is merely referring to a CIS benchmark a problem?

[2019-07-01 12:51] mldmld68 opened #112 "Add Firewall template"
Hi all,
Please add firewall and constraint sample policies to check
- if an SA can talk to another SA based on a regex on their names
- if TCP 22 or 3389 is opened to 0.0.0.0/0
- if TCP open ports specify a wide range : [1-65535]
- if a range of subnets are the only one allowed for ingress

Thank you
Best regards

[2019-07-11 13:37] jdyke opened #114 "GCS Blacklist Public - Not Triggering"
I have tried a couple different ways to trigger the example policy located in **policy-library/samples/storage_blacklist_public.yaml** but am having no luck. The rego inside **policy-library/policies/templates/gcp_storage_bucket_world_readable_v1.yaml** is looking for

[code]
Some of the example terraform code used to try and violate the constraint is:

[code]

This main.tf successfully creates tw

[2019-07-12 16:12] morgante commented on #114
I suspect this is an issue with Terraform Validator.

Can you confirm if this issue occurs when using Forseti?

[2019-07-12 18:17] jdyke commented on #114
Does not look like it as first glance:

[code]

[code]

[2019-07-12 18:22] jdyke commented on #114
Bucket:

[code]

[2019-07-12 18:34] joecheuk commented on #114
Hi Jason,

Can you check the forseti server config file and see if config validator
scanner is enabled?

The config file is located at
forseti-security/configs/forseti_conf_server.yaml

If you navigate under section `scanners`, there is one for
config-validator, can you double check and see if it's enabled?

Thanks,
Joe

On Fri, Jul 12, 2019 at 11:22 AM Jason Dyke <notifications@github.com>
wrote:

[2019-07-12 18:38] jdyke commented on #114
Yeah its there:

[code]

[2019-07-12 20:00] jdyke commented on #114
Joe was able to get the constraint working with forseti and I'll continue to troubleshoot on my end why it isnt working. Probably a setup challenge. In the meantime, @morgante do you have what you need to troubleshoot the validator code?

Thanks

[2019-07-12 21:23] morgante commented on #114
Yeah, I was able to validate this works with Config Validator and can look into why it's not working with Terraform specifically.

[2019-07-12 21:39] morgante commented on #114
So there are issues at play here:
- The examples using 'google_storage_bucket_iam_policy' and 'google_storage_bucket_iam_binding' don't work with Terraform Validator because Terraform Validator doesn't parse bucket policies. I opened #52 to track. They *will* trigger a violation in Forseti or other implementations though.
- The example using google_project_iam_policy won't work because it sets an

[2019-07-15 07:48] marcin-kolda opened #115 "Template for whitelisting selected IAM roles"
We would like to have a template which allows only selected roles for given users. All other IAM bindings should be reported as violations. So instead of blacklisting all other roles, we would like to whitelist only few of them.

Example:
[code]

[2019-07-15 13:50] jdyke commented on #114
Thanks Morgante. #52 is about encryption - is that the correct number?

[2019-07-15 16:14] jdyke commented on #114
Found it on the other repo: https://github.com/GoogleCloudPlatform/terraform-validator/issues/52

[2019-07-15 22:10] morgante commented on #115
Have you looked at the https://github.com/forseti-security/policy-library/blob/master/samples/iam_restrict_role.yaml constraint? It seems like it should solve this use case.

[2019-07-16 17:24] marcin-kolda opened #117 "iam_restrict_role rule in whitelisting mode doesn't work"
I'm trying to use [iam_restrict_role](https://github.com/forseti-security/policy-library/blob/master/samples/iam_restrict_role.yaml) in whitelisting mode, but it doesn't generate any violations.

Here's my rule config:
[code]
Terraform config file:
[code]
GCP project id which I'm using doesn't have any Viewer configured. As I understand I should get violation because there is no any `viewer` role

[2019-07-16 17:29] marcin-kolda commented on #115
Hi @morgante, unfortunately iam_restrict_role.yaml doesn't work for me (see #117). As I understand it validates the minimum required roles (e.g. all project require project viewer role) in whitelisting mode.
In my use case I'd like to define possible roles which can be used in IAMs for given members, e.g. few read roles for users, deploy roles for service accounts. All other IAM bindings should be

[2019-07-16 21:32] morgante commented on #117
Hi, I think you might have misunderstood the purpose of the AllowBIndingsConstraint. The purpose is to raise a violation if a member *outside* the provided list is granted the role.

For example, [this sample](https://github.com/forseti-security/policy-library/blob/master/samples/iam_restrict_role.yaml) requires that only users and groups from your domain be granted the owner role.

It is not inte

[2019-07-16 21:32] #117 closed

[2019-07-17 19:50] marcin-kolda commented on #117
Thanks @morgante for clarification. I was confused by [sample](https://github.com/forseti-security/policy-library/blob/master/samples/iam_restrict_role.yaml) description "All projects must have owner from my domain".

I think sth like "Only my domain members are allowed for Owner role in all projects" would more descriptive.

[2019-07-17 19:56] morgante commented on #117
@marcin-kolda Thanks for the note, agreed. I opened #119 to clarify.

[2019-07-17 20:07] marcin-kolda commented on #115
After clarification in #117 the iam_restrict_role.yaml rule still will not work in my case.

I would like to whitelist specific roles and blacklist everything else. I don't want to specify all possible roles for blacklisting, as new one are added dynamically. I'd like to define few roles as whitelisted, which were evaluated and approved. Everything else should be marked as violation.

To give you

[2019-07-17 20:43] morgante commented on #115
Thanks for clarifying, I would suggest solving this through a combination of a few constraint:
1. A whitelist (using `iam_restrict_role`) of approved members for those each approved role
2. A new constraint template to whitelist only the approved roles (and block any other role)

(1) can be done out fo the box today. (2) would require that you update the [constraint template](https://github.com/fo

[2019-07-18 19:45] jdyke opened #121 "Compute Zone Not Violating"
Afternoon,

I am working on the compute engine zone constraint and have tried denylist and allowlist.

constraint:

[code]

tf code:

[code]

template is gcp_compute_zone_v1.yaml

Any insight into why this might not be marking as violation?

[2019-07-18 21:00] FanchenBao commented on #114
This is probably because when terraform-validator convert the Terraform plan to CAI, it omits the resources that it currently doesn't support (see `terraform-validator convert --help`). Since `google_storage_bucket_iam_binding` and `google_project_iam_policy` are not supported, they will not be present in the CAI file. And since the validator rego code pulls info from the CAI file, `asset.iam_poli

[2019-07-18 21:37] morgante commented on #114
@FanchenBao Precisely. Once https://github.com/GoogleCloudPlatform/terraform-validator/issues/52 is fixed, this will be too.

[2019-07-18 21:37] #114 closed

[2019-07-18 21:42] FanchenBao commented on #121
I think the problem is that the "zone" field is not populated in the CAI file after terraform-validator performs the conversion. The following is the output of `terraform-validator convert test.tfplan` after establishing the terraform plan from the code provided above.
[code]
In the rego code of "gcp_compute_zone_v1.yaml", this line `asset_zone_tokens := split(asset.resource.data.zone, "/")` requi

[2019-07-18 21:51] morgante commented on #121
@FanchenBao Good analysis, yes this looks like a bug with Terraform Validator.

[2019-07-19 12:12] jdyke commented on #121
I didn't even realize `convert` was a thing, I'll start debugging further on my end to provide as much info as possible.

https://github.com/GoogleCloudPlatform/terraform-validator/issues/54 opened to address the bug

thanks!

[2019-07-19 14:06] jdyke opened #123 "Cloud SQL Location vs Region"
It appears that the template file is looking for a **location** setting but the CAI only returns regions and zones:

[code]

Template:
[code]
Tf code:

[code]

The documentation does talk about Cloud SQL "Locations": https://cloud.google.com/storage/docs/locations

but that does not match up with terraforms settings: https://www.terraform.io/docs/providers/google/r/sql_database_instance.html#regio

[2019-07-19 14:27] jdyke commented on #123
I was looking at the wrong resource, closing for now.

[2019-07-19 14:27] #123 closed

[2019-07-19 16:44] #121 closed

[2019-07-23 14:26] jdyke opened #124 "sqladmin.googleapis.com/Instance requireSSL Not Triggering"
gcp_sql_ssl_v1.yaml template:

Is looking for:

`asset.resource.settings.ipConfiguration.requireSsl == false`

but the CAI returns:

[code]

 It looks like it is missing "data" so I added it to the template:

`asset.resource.data.settings.ipConfiguration.requireSsl == false`

but that still does not catch the entry:

[code]

[2019-07-23 16:44] morgante commented on #124
Please test in Forseti.

[2019-07-23 20:59] morgante commented on #124
@jdyke I opened #125 to address the issue in the constraint template.

I tested the conversion in Terraform Validator and it looks like it properly converts the requireSsl prop:

[code]

[2019-07-23 21:36] FanchenBao commented on #124
The same problem happens with `gcp_sql_allowed_authorized_networks_v1.yaml`.

For `gcp_sql_allowed_authorized_networks_v1.yaml`, In addition to the missing `data` field, the bug is in the `package`. The original statement is `package templates.gcp.GCPSQLAllowedAuthorizedNetworksV1`. When I change it into `package templates.gcp.GCPSQLAllowedAuthorizedNetworksConstraintV1` (just add `Constraint` at

[2019-07-23 21:44] morgante commented on #124
@FanchenBao Yes, I suspect you are correct. a PR is welcome, of course.

[2019-07-25 22:29] FanchenBao commented on #115
I agree with morgante. Use `iam_restrict_role` constraint for **each** whitelisted role. They can detect any member that is not allowed to have such roles. Then you can either modify an existing template to whitelist the given roles, or you can write the template yourself. For example, the rego code for the template can be like this:
[code]
And the constraint can be like this:
[code]

[2019-07-25 22:32] morgante commented on #115
@FanchenBao Thanks for putting the template together! Do you think you could open a PR?

[2019-07-25 23:04] FanchenBao commented on #115
@morgante Sure thing. For PR, I probably will add a mode for whitelist or blacklist to make it more versatile.

[2019-07-29 20:32] joecheuk opened #134 "Constraint to enforce stackdriver monitoring on a GKE cluster"
CIS 7.02

[2019-07-29 20:32] joecheuk commented on #134
Resolved #132

[2019-07-29 20:32] #134 closed

[2019-08-05 23:12] AdrienWalkowiak commented on #112
Hi, I am currently on getting this policy released. I don't have an ETA yet, but I hope it will be soon-ish.

[2019-08-09 14:59] red2k18 opened #149 "Ensure Stackdriver Logging is set to Enabled on Kubernetes Engine Clusters"
Add a constraint to ensure Stackdriver Logging is set to Enabled on Kubernetes Engine Clusters.

[2019-08-09 20:58] tonnihult opened #150 "Problem with regex when enforcing labels"
Hi
I get a problem to run the config validator in Forseti after updating the enforce labels constraint GCPEnforceLabelConstraintV1 and it seems to have to do with the regex. When running with the default
[code]
all works fine but when switching to
[code]
we get the following error in GCP.
[code]

[2019-08-12 15:46] AdrienWalkowiak commented on #150
Thanks for testing out this policy, I will look into this.

In the mean time, I think you could use:
[code]

to workaround the issue, until it's solved.

[2019-08-12 16:16] AdrienWalkowiak commented on #150
I am not able to reproduce this, but it looks like it's an issue with the asset label value that is null somehow. It's possible that the checks I made to make sure it exists is failing in your case.

Could you add some debugging info here? It would be helpful to have the full CAI asset and the constraint you used to test it.

You can use the trace and sprintf command for this in the label_enforce.

[2019-09-03 19:11] gkowalski-google opened #164 "Update documentation for Policy Library Sync"
To support the [Policy Library Sync change](https://github.com/forseti-security/terraform-google-forseti/issues/238), update the documentation for how users can utilize this feature.

[2019-09-10 19:14] #164 closed

[2019-09-13 10:01] BrunoReboul opened #172 "gcp_gke_disable_legacy_endpoints_v1 incerted rule?"
This template seam to detect as non compliant all the gke cluster where legacy end point are disabled.
It seams to work in the opposite way as expected.

Would it be possible to fix the rego file with
	legacy_endpoints_enabled(node_pool) == false
Thanks

[2019-09-13 14:19] ocervell commented on #124
@morgante @AdrienWalkowiak I've verified this rule works from config-validator, but not from the Forseti scanner, which reports no violation.

@FanchenBao the linked PR doesn't seem related to this particular issue. Are you going to commit a fix for the `gcp_sql_ssl_v1.yaml` as well ?

[2019-09-13 14:48] ocervell commented on #150
Here is the error from Forseti VM:
[code]

[2019-09-13 14:50] morgante commented on #150
@ocervell Does it work with CFT Scorecard?

[2019-09-13 14:51] morgante commented on #124
@ocervell Does it work with Scorecard?

[2019-09-13 14:52] morgante commented on #172
PR is welcome :)

[2019-09-13 14:56] morgante commented on #150
@joecheuk Can you help out here on what would cause Forseti to fail for this constraint?

[2019-09-13 15:19] AdrienWalkowiak commented on #150
This might be a Forseti version update. I ran my tests with Forseti v2.18.0 and the constraint worked as epxected. Are you using a different version?

[2019-09-13 15:47] joecheuk commented on #150
Based on the log output, looks like version 2.19.1 is being deployed. The CV binary in the forseti application has not been updated since Jun 19. Looks like the error occurred in the audit() method in CV - is it possible that we might need to do additional null checks in the template to avoid edge cases like that?

From Forseti PoV, we pass all the data to FCV so there might potentially be resourc

[2019-09-13 19:32] ocervell commented on #150
@joecheuk this doesn't happen when passing the same inventory / iam_policy dump to the config validator's `audit` function (using either `opa run ...` or CFT scorecard: since those are special types (regex), there must be something wrong when passing the data to `config-validator`. Was there changes to Forseti's config validator scanner since 2.18.0 ?

[2019-09-16 16:25] AdrienWalkowiak commented on #41
We added CI tests on this repo to ensure that constraints are properly formatted and that make test passes when a PR is created. The build target in the Makefile also formats the templates (calls the format target).

[2019-09-16 16:25] #41 closed

[2019-09-16 16:27] AdrienWalkowiak commented on #71
We added the first bullet point in our CI process for this repo. I am working on a broader CI plan to cross-test code changes against the various tools dependent on the Config Validator.

[2019-09-16 16:27] #71 closed

[2019-09-16 16:28] #4 closed

[2019-09-16 16:29] AdrienWalkowiak commented on #7
I believe this is done now.

[2019-09-16 16:29] #7 closed

[2019-09-16 16:32] AdrienWalkowiak commented on #8
I believe the [doc](https://github.com/forseti-security/policy-library/blob/master/docs/user_guide.md#install-forseti) is clearer now.

[2019-09-16 16:32] #8 closed

[2019-09-16 16:33] AdrienWalkowiak commented on #3
Each template now comes with comments on what the policy does, what the inputs are and examples in the samples folder.

[2019-09-16 16:33] #3 closed

[2019-09-16 16:34] AdrienWalkowiak commented on #10
Is it still the case? If not, what can be done about it?

[2019-09-16 16:37] AdrienWalkowiak commented on #112
I opened a #158 for this constraint but it needs more in-depth testing considering the scope of this policy. I am worried about performance issues with forseti or even locally on large datasets.

[2019-09-16 16:38] AdrienWalkowiak commented on #32
is it still something we should consider?

[2019-09-16 16:38] AdrienWalkowiak commented on #52
any update on this @ddremund ?

[2019-09-16 16:39] morgante commented on #32
Yes, I think it's unwieldy in the current size.

[2019-09-16 16:39] AdrienWalkowiak commented on #110
is it still accurate? I believe recent policies have mentioned it in the comment - specifically calling out the app is not certified right now.

[2019-09-16 16:40] morgante commented on #110
We're still waiting on confirmation from CIS. Adding you to email thread.

[2019-09-16 17:17] #172 closed

[2019-09-16 17:18] AdrienWalkowiak commented on #115
Is this issue resolved now?

[2019-09-16 17:28] morgante commented on #10
Yes looks like it's still there: https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_compute_external_ip_access_v1.yaml#L75

We would need to update this to:
1. Look at the *plural* for network interfaces
2. Not look at the external IP itself

[2019-09-16 17:29] morgante commented on #10
https://github.com/forseti-security/policy-library/pull/128 is meant to address this

[2019-09-16 17:40] #10 closed

[2019-09-17 15:01] blueandgold opened #176 "gcp-iam-audit-log-v1 Policy Does Not Work in Forseti"
Opening this in Forseti repo, since this affects Forseti and not other Config Validator clients.

The problem is that [gcp-iam-audit-log-v1 policy](https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_iam_audit_log.yaml) does not work in forseti because the `audit_config` field [gets ignored](https://github.com/forseti-security/forseti-security/blob/dev/google/clou

[2019-09-18 08:16] ocervell commented on #176
I'm puzzled on why this issue got transferred from Forseti-Security repo after finding it's also present in scorecard/tfvalidator: are we using those libraries (or protos from those libraries) within Forseti ?

[2019-10-04 07:38] jenshonkan84 commented on #150
I am getting this error with latest forseti version 2.22.0

[code]

[2019-10-04 12:26] AdrienWalkowiak commented on #150
After some testing, it seems that the rule works well with some parameters but not all. I am trying to narrow down which ones are fine and which ones do not work in Forseti at this point.

Could you guys (@ocervell, @tonnihult  and @jenshonkan84 ) specify which parameters you are testing?

[2019-10-07 05:58] jenshonkan84 commented on #150
Here is my constraints file:

[code]

[2019-10-07 23:49] dekuhn opened #180 "Add policy annotations to all GKE hardening related polices"
Based on go/policy-bundles - the recommended annotations would look something like:
bundles.validator.forsetisecurity.org/[bundle_key]: [control]

Please add details for all GKE Hardening Policies
Example:
    description: Disable the Kubernetes web UI (Dashboard)
    bundles.validator.forsetisecurity.org/gke-hardening-guideline:

[2019-10-07 23:50] dekuhn commented on #180
@joecheuk we might to define  some method for the [control] value related to GKE hardening guidelines or leave it blank

[2019-10-08 00:40] morgante commented on #180
@dekuhn I recommend not leaving the control value blank, but instead come up with a control name for each guideline. Ex.

bundles.validator.forsetisecurity.org/gke-hardening-guideline: DISABLE_WEB_UI

[2019-10-08 16:03] dekuhn opened #181 "Update Forseti CV documentation"
- [ ] Review current CV docs about scaling
- [ ] Update or remove content that is outdated or has changed.

I don't think this data is up to date with core Forseti configurations as of late. I believe we have increased the standard VM sizes by default. Also there is work to page data into CV from Forseti which is to be released soon.

Can you please review the content here and ensure it is accurat

[2019-10-09 15:19] blueandgold opened #183 "Update Config Sync Documentation to Support Public Repo"
The current documentation for config sync describes how to setup with private repo.  But user feedback is that there is preference to use public repo.  Quick chat with @gkowalski-google that public repo will work, so we should update the documentation to reflect this.

[2019-10-09 22:44] blueandgold opened #184 "Add Annotations to All the Policy Libraries"
Similar to #180, we should add annotations that are related to Forseti, GKE, CIS, as these will make the policies much easier to be discoverable.

Please see #180 for example of what the annotation schema should be.

[2019-10-09 22:56] blueandgold opened #185 "Centralize the Documentation on the forsetisecurity.org Website"
We should consider migrating the [User Guide](https://github.com/forseti-security/policy-library/blob/master/docs/user_guide.md) and all documentations from the repo markdowns to the [forsetisecurity.org](https://github.com/forseti-security/policy-library/blob/master/docs/user_guide.md) so that all documentations are centralized and easy for users to find & follow end-to-end.

[2019-10-09 23:02] blueandgold opened #186 "Make it easy to identify which policies are usable by which clients."
Currently, not all the policies are usable by Forseti.  And it's not easy to tell which ones they are.  It would be awesome if there's a way to identify which policies are usable by which clients.

One idea is to maintain a running list of the supported policies in the documentation.

Another idea would be to rely on the bundle-pulling tool, and show which policies would be pulled.
This tool is he

[2019-10-10 22:04] morgante commented on #185
The User Guide is not only for Forseti. We could move the Forseti guide over, but the other user guides should be kept separate (or separately usable).

[2019-10-11 23:31] dekuhn opened #187 "Review Forseti based Rego rules for Rego/OPA best practices"
- [ ] Review Forseti related Policy Library rules to ensure we are following recommended best practices. These templates will be models for other rules and we want to ensure we are modeling the right behaviors in our Forseti scanning rules.

Best Practices Links:
https://www.openpolicyagent.org/docs/latest/policy-performance/
https://www.openpolicyagent.org/docs/latest/policy-language/#best-practi

[2019-10-11 23:31] dekuhn commented on #187
@joecheuk FYI

[2019-10-14 16:06] Red-Five opened #188 "cmek_settings.yaml Issue"
I copied all samples to my policy/constraints folder.

Config validator Pod wont start due to error
Failed to load server Conflicting constraint metadata names with name cmek_rotation from file /policy-library/policies/constraints/cmek_settings.yaml

I see two constraints using same name: cmek_rotation
grep cmek_rotation *.yaml
cmek_rotation.yaml:  name: cmek_rotation
cmek_settings.yaml:  name: cm

[2019-10-16 20:31] gkowalski-google commented on #185
Agree, I will only move the Forseti specific documentation to the website.

[2019-10-17 15:38] blueandgold opened #189 "Update Instruction to Duplicate Repo for Config Sync"
When following the instruction to test the config sync, and duplicate the repo, I get the following error.

![image](https://user-images.githubusercontent.com/6977544/67024579-82778e00-f0b9-11e9-9878-3d9558bd2ae0.png)

[code]

[2019-10-17 16:03] blueandgold commented on #189
To get prompted for a username and password (which is the access token), use the `https`.

[2019-10-18 00:00] dekuhn commented on #180
@morgante @ryanismert @blueandgold - FYI
@joecheuk lets move forward with the following annotation format for [GKE Hardening Guidelines](https://cloud.google.com/kubernetes-engine/docs/how-to/hardening-your-cluster)
bundles.validator.forsetisecurity.org/gke-hardening-v2019.11.11: DISABLE_DASHBOARD_UI

It will be up to the engineer when adding these annotations to determine the text control name e.

[2019-10-19 18:33] blueandgold opened #190 "Make the Options for Policy Library Sync to Be Consistent"
On GCE, this is off by default, and needs `policy_library_sync_enabled = true` to be set.

On GKE, this is on by default, and `policy_library_sync_enabled` is not exposed to be configure-able.

Since there is a case for continued usage of GCS buckets, a couple of things need to be done:
1: `policy_library_sync_enabled` needs to be configure-able on GKE in case GCS is prefered
2: make consistent th

[2019-10-22 20:45] #190 closed

[2019-10-22 20:45] dekuhn commented on #190
Issue moved to [forseti-security/terraform-google-forseti #341](https://github.com/forseti-security/terraform-google-forseti/issues/341) via [**ZenHub**](https://www.zenhub.com/)

[2019-10-25 20:01] dekuhn commented on #180
I spent a little time starting to update a few rules today.
https://github.com/forseti-security/policy-library/pull/199
https://github.com/forseti-security/policy-library/pull/200

[2019-10-28 17:56] gkowalski-google commented on #185
Move the [CSCC](https://github.com/forseti-security/policy-library/blob/master/docs/user_guide.md#how-to-connect-violation-results-with-cloud-security-command-center-cscc) instructions to the website.

[2019-10-29 02:54] ocervell opened #208 "Add exclude list to GCPCMEKRotationConstraintV1"
We need to add an exclude for the GCPCMEKRotationConstraintV1, because once created, KMS keychains cannot be removed. As long as we don't have the 'delete keychain' option in the KMS API, we should be able to exclude unused keychains.

[2019-10-29 02:54] morgante commented on #208
Moved to policy-library.

[2019-10-29 17:24] #189 closed

[2019-11-01 22:11] gkowalski-google commented on #150
@jenshonkan84 Following up to see if you are able to confirm if you still see this issue after upgrading to the latest version of Forseti?

[2019-11-18 12:19] yunus commented on #92
I have a pull request at least to create starting point.
https://github.com/forseti-security/policy-library/pull/193

[2019-11-19 13:53] morgante commented on #188
Agreed, we should be sure that samples can be directly copied/applied without needing updates as much as possible.

[2019-11-29 10:08] yunus opened #219 "Match/Exclude options are not effective"
When I try to use match/exclude options with scorecard (make audit), they are not taken into consideration. When I check the config [validator code](https://github.com/forseti-security/config-validator/blob/master/pkg/gcv/cf/audit.go), I see that match and exclude logic is there.
Is it possible that policy library downloads an old version of the scorecard (0.2.0)?

### How to reproduce
I've tested

[2019-12-13 17:38] nick4fake opened #223 "billing validation"
Looks like we don't have any billing policies.

Example usage: check project account against whitelist/blacklist.

[2020-01-21 18:34] gkowalski-google opened #253 "Create template for FCV Lien Scanner"
## Story
Develop a template for Project Liens that will work with Forseti.

## Proposed Solution
Port the logic from the Forseti scanner into rego. Consider if there is anything that needs to be done to let users know this template will only work with Forseti (non-CAI data).

## Acceptance Criteria
Unit tests are included and are passing.

[2020-01-28 18:36] mcapts opened #256 "VPC-SC scan (feature request)"
This is a feature request for having a scanner that checks VPC Service Controls to ensure the configuration is correct/appropriate.

Some basic checks like:
- only whitelisted services are included in the perimeter
- appropriate Access Levels are included in the perimeter
- only projects from our organization are included in the perimeter

It may make sense to have this scan work in conjunction wi

[2020-01-28 18:38] gkowalski-google commented on #256
Resolved by PR #238

[2020-02-04 17:42] #253 closed

[2020-02-10 23:57] briantkennedy opened #257 "Add policy linter to cloudbuild CI steps"
[FCV](https://github.com/forseti-security/config-validator) now has a rule for [generating a policy tool docker image](https://github.com/forseti-security/config-validator/blob/master/Makefile#L490.  We should set up the cloud build image for policy-library to use the linter on new policies.

[2020-02-11 15:07] tsandall opened #258 "Update glob.match calls to specify delimiter"
The latest minor release of OPA (v0.17) fixes an issue in the `glob.match` built-in function. Basically the built-in function was supposed to default the delimiter to `.`...but it wasn't. I did a search of public repos on GitHub and noticed two cases here. The fix is to simply update the `glob.match` built-in function calls to supply `["/"]` for the delimiter. We try to avoid backwards incompatibl

[2020-02-11 15:13] morgante commented on #258
Thanks for letting us know, I assume these are the two cases you found?

- https://github.com/forseti-security/policy-library/blob/a069b66f9cff36bc38a4c858bf3d788b29d61b4b/validator/iam_allowed_bindings.rego#L35
- https://github.com/forseti-security/policy-library/blob/73e19dda7dbbf89a633308adf524d47d253301c4/validator/iam_allow_ban_roles.rego#L32

In both cases, we're explicitly passing a `[]` de

[2020-02-11 15:23] tsandall commented on #258
Yep, those are the cases. I looked at the constraint parameters and assumed that you were intending to use `/` as the delimiter. What is the glob match behaviour that you want? If the current (fixed) built-in doesn't work for you use case, we can introduce another one.

[2020-02-11 15:24] morgante commented on #258
In this case, I don't think we actually need any delimiter matching. You can see some sample params [here](https://github.com/forseti-security/policy-library/blob/master/samples/iam_allowed_roles.yaml#L29) and in those cases we're providing the full desired role (potentially with a wildcard).

[2020-02-11 20:22] tsandall commented on #258
Fair enough. I think the update to specify the "/" delimiter will work for your use cases. If you can have roles with multiple "/" characters in them you could use the super glob: https://www.openpolicyagent.org/docs/latest/policy-reference/#glob. Alternatively, if you just want exact matching and prefix matching (indicated w/ wildcard) you _could_ implement that inside of Rego today. Hope this he

[2020-02-12 18:17] blueandgold commented on #257
Additional details per brian: this is a linter from brian for ConstraintTemplates and Constraints, but need to be added to the test / CI process for policy-library.

[2020-02-13 17:13] AdrienWalkowiak commented on #258
this policy tests actually break when using opa 0.17, probably because of this issue.

@FanchenBao can you take a look?

[2020-02-13 17:51] FanchenBao commented on #258
@AdrienWalkowiak Sure. Looking into it now.

[2020-02-13 22:49] FanchenBao commented on #258
@AdrienWalkowiak  @morgante A PR has been submitted for the bug fix: #260
I also wrote a bug fix report as comment for the PR.

[2020-02-13 22:53] #258 closed

[2020-02-18 15:47] #150 closed

[2020-02-18 15:48] AdrienWalkowiak commented on #115
Closing as this is likely resolved now.

[2020-02-18 15:48] #115 closed

[2020-02-18 21:59] hshin-g opened #262 "[FORSETI] Audit Logging scanner functionality"
Related to Forseti Security Issue [#3624](https://github.com/forseti-security/forseti-security/issues/3624)

### Scanner

Audit Logging Scanner

**Description:** You can configure Cloud Audit Logging to save Admin Activity and Data Access for Google Cloud Platform (GCP) services. The audit log configurations for a project, folder, or organization specify which logs should be saved, along with memb

[2020-02-18 22:05] hshin-g opened #263 "[FORSETI] Bucket ACL scanner functionality"
Related to Forseti Security Issue [#3624](https://github.com/forseti-security/forseti-security/issues/3624)

### Scanner

Bucket ACL Scanner

**Description:** Cloud Storage buckets have ACLs that can grant public access to your Cloud Storage bucket and objects. The bucket scanner supports a blacklist mode, to ensure unauthorized users don’t gain access to your Cloud Storage bucket.

### Python Vio

[2020-02-18 22:06] hshin-g opened #264 "[FORSETI] Cloud SQL scanner functionality"
Related to Forseti Security Issue [#3624](https://github.com/forseti-security/forseti-security/issues/3624)

### Scanner

Cloud SQL Scanner

**Description:** Cloud SQL instances can be configured to grant external networks access. The Cloud SQL scanner supports a blacklist mode, to ensure unauthorized users don’t gain access to your Cloud SQL instances.

### Python Violations Summary
Generate a vi

[2020-02-18 22:08] hshin-g opened #265 "[FORSETI] Enabled APIs scanner functionality"
Related to Forseti Security Issue [#3624](https://github.com/forseti-security/forseti-security/issues/3624)

### Scanner

Enabled APIs Scanner

**Description:** The Enabled APIs scanner detects if a project has appropriate APIs enabled. It supports whitelisting supported APIs, blacklisting unsupported APIs, and specifying required APIs that must be enabled.

### Python Violations Summary
There are

[2020-02-18 22:11] hshin-g opened #266 "[FORSETI] Firewall Rules scanner functionality"
Related to Forseti Security Issue [#3624](https://github.com/forseti-security/forseti-security/issues/3624)

### Scanner

Firewall Rules Scanner

**Description:** Network firewall rules protect your network & organization by only allowing desired traffic into and out of your network. The firewall rules scanner can ensure that all your network’s firewalls are properly configured.

### Python Violat

[2020-02-18 22:14] hshin-g opened #267 "[FORSETI] IAM Policy scanner functionality"
Related to Forseti Security Issue [#3624](https://github.com/forseti-security/forseti-security/issues/3624)

### Scanner

IAM Policy Scanner

**Description:** Cloud IAM policies directly grant access on GCP. To ensure only authorized members and permissions are granted in Cloud IAM policies, IAM policy scanner supports the following:
- Whitelist, blacklist, and required modes.
- Define if the scop

[2020-02-18 22:16] hshin-g opened #268 "[FORSETI] Kubernetes Engine Version scanner functionality"
Related to Forseti Security Issue [#3624](https://github.com/forseti-security/forseti-security/issues/3624)

### Scanner

Kubernetes Engine Version Scanner

**Description:** Kubernetes Engine clusters running on older versions can be exposed to security vulnerabilities, or lack of support. The KE version scanner can ensure your Kubernetes Engine clusters are running safe and supported versions.

#

[2020-02-18 22:18] hshin-g opened #269 "[FORSETI] Kubernetes Engine scanner functionality"
Related to Forseti Security Issue [#3624](https://github.com/forseti-security/forseti-security/issues/3624)

### Scanner

Kubernetes Engine Scanner

**Description:** "Kubernetes Engine clusters have a wide-variety of options. You might want to have standards so your clusters are deployed in a uniform fashion. Some of the options can introduce unnecessary security risks. The KE scanner allows you t

[2020-02-18 22:20] hshin-g opened #270 "[FORSETI] Location scanner functionality"
Related to Forseti Security Issue [#3624](https://github.com/forseti-security/forseti-security/issues/3624)

### Scanner

Location Scanner

**Description:** Allow customers to ensure their resources are located only in the intended locations. Set guards around locations as part of automated project deployment.

### Python Violations Summary
There are two types (modes) that can generate violations:

[2020-02-18 22:23] hshin-g opened #271 "[FORSETI] Retention Policy scanner functionality"
Related to Forseti Security Issue [#3624](https://github.com/forseti-security/forseti-security/issues/3624)

### Scanner

Retention Policy Scanner

**Description:** Allow customers to ensure the retention policies on their resources are set as intended.

### Python Violations Summary
There are two resources that each have two checks that can generate violations:

**Bucket**
1) Maximum_retention -

[2020-02-18 22:25] hshin-g opened #272 "[FORSETI] Role scanner functionality"
Related to Forseti Security Issue [#3624](https://github.com/forseti-security/forseti-security/issues/3624)

### Scanner

Role Scanner

**Description:** Control permissions that are actually in IAM roles - ensure that IAM roles do not have more permissions than they should to prevent access.

### Python Violations Summary
Generate a violation if the set of permissions for the Role object is NOT th

[2020-02-18 22:26] hshin-g opened #273 "[FORSETI] Service Account Key scanner functionality"
Related to Forseti Security Issue [#3624](https://github.com/forseti-security/forseti-security/issues/3624)

### Scanner

Service Account Key Scanner

**Description:** It’s best to periodically rotate your user-managed service account keys, in case the keys get compromised without your knowledge. With the service account key scanner, you can define the max age at which your service account keys sh

[2020-02-18 22:32] morgante commented on #273
@hshin-g I see a number of bugs have been generated, who from the Forseti team is leading this because I think there might be a mismatch/misunderstanding of Config Validator?

In particular, we should *not* be adding filtering to specific rules because *all* constraints already support folder/project targeting out fo the box via the `target` and `exclude` options: https://github.com/forseti-securi

[2020-02-18 22:43] hshin-g commented on #273
@morgante I'm leading the efforts for this. Looks like I overlooked that part of the docs- thanks for the heads up! Let me go in and update the issues.

[2020-02-18 22:44] morgante commented on #266
This PR might help: https://github.com/forseti-security/policy-library/pull/211

[2020-02-18 22:49] #273 closed

[2020-02-18 22:50] hshin-g commented on #272
Closing as the "excludes" option allows filtering.

[2020-02-18 22:50] #272 closed

[2020-02-19 03:11] gkowalski-google commented on #264
Does [this policy](https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_sql_ssl_v1.yaml) cover the check for requiring SSL?

[2020-02-19 17:27] hshin-g commented on #264
Looks like it- thanks Gregg!

[2020-02-21 17:05] hshin-g commented on #263
While the Rego rule does not check for whether Bucket, Email, Domain, and Role are violated, it does check for allAuthenticatedUsers and allUsers, which is sufficient for this use case. Closing this out.

[2020-02-21 17:05] #263 closed

[2020-02-21 18:34] hshin-g commented on #262
@morgante : Utilize the "target" option in Rego in order to filter out which Organization, Folder, Project, etc. to parse. Functionality is complete here.

[2020-02-21 18:34] #262 closed

[2020-02-21 18:36] morgante commented on #264
For instance name checking, I think this should cover it: https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_enforce_naming_v1.yaml

[2020-02-21 18:40] hshin-g commented on #265
@morgante : Required mode is difficult to implement and is probably not a super common use case. (Each service is itself a separate asset - i.e. this would be referential. Does not match operating model.)

[2020-02-21 18:46] hshin-g commented on #266
@morgante Required is difficult to implement, referential.
Matches is technically a mix of whitelist/required --> which means that this is also referential, and difficult to implement.

Minimum thing to work on is to add is whitelist.

[2020-02-21 18:48] hshin-g commented on #267
@morgante : Doable - could probably add required mode as all of the members are included inside the asset.

Inheritance would be difficult to do, and referential (would have to merge policies, etc).

[2020-02-21 18:50] hshin-g commented on #268
@morgante : Checking for master version and node pool version against the user defined allowed versions list is doable.

[2020-02-21 18:51] morgante commented on #269
Generic constraint template: https://github.com/forseti-security/policy-library/pull/198

[2020-02-21 18:53] hshin-g commented on #269
Verify that the PR above works and fulfills this use case.

[2020-02-21 18:54] hshin-g commented on #270
@morgante : This is accurate. Add "exemption" as a new feature to the existing Rego rule, and create new Rego rule for instance asset.

[2020-02-21 18:55] hshin-g commented on #271
@morgante : Will have to write these as they do not currently existing.

[2020-02-21 19:05] #264 closed

[2020-02-21 22:10] hshin-g commented on #265
Need to build a data model that converges all services for a resource together in order to parse the Required mode (need to have EXACTLY these three services).

[2020-02-21 22:10] #265 closed

[2020-02-21 22:45] hshin-g commented on #264
The Forseti scanner allows you to target specific instances to check if SSL is disabled or has a public IP. The Rego template that exists follows best practices to check all instances.

[2020-02-21 22:49] hshin-g commented on #269
Provide a sample constraint for this.

[2020-02-26 22:54] #270 closed

[2020-03-06 00:21] briantkennedy opened #285 "Run rego tests with multiple versions of opa"
It looks like we had some issues where a CT was failing on older versions of OPA, we should update our CI tests to run the rego unit tests using all supported versions of opa.

[2020-03-06 21:22] gkowalski-google opened #290 "Update Compute Network Interface Template for CAI field name updates"
## Story
The [CAI field name updates](https://cloud.google.com/asset-inventory/docs/naming-table) will be going live on March 10th. The existing [Compute Network Interface Template](https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_compute_network_interface_whitelist_v1.yaml) has code that references the old, soon to be deprecated fields.

## Proposed Solution
U

[2020-03-06 21:30] #290 closed

[2020-03-06 21:36] gkowalski-google opened #292 "Update LB Forwarding Rules Whitelist Template for CAI field name updates"
## Story
The [CAI field name updates](https://cloud.google.com/asset-inventory/docs/naming-table) will be going live on March 10th. The existing [LB Forwarding Rules Whitelist Template](https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_lb_forwarding_rules_whitelist.yaml) has code that references the old, soon to be deprecated fields.

## Proposed Solution
Update

[2020-03-06 22:18] #292 closed

[2020-03-10 23:15] briantkennedy commented on #257
In the time this has been open, a broken template got in during commit  b7c46f70f2f213b20d488a3a7a4431bc1724419f.  Can we prioritize this issue as it's been open for quite some time now.

[2020-03-11 19:24] xingao267 opened #301 "Forseti Config Validator Scanner does not report firewall related violations"
Policies that should report violation:

[code]

and
[code]

Example TF config that is deployed:
[code]

I tried validating the config with Terraform Validator and it works fine. Two violations are reported, one for log being disabled and one for that allow-all-ingress firewall rule is prohibited. But the violations is not reported by FCV.

[2020-03-11 19:27] morgante commented on #301
Terraform Validator uses FCV as well, so the issue isn't in FCV but rather in Forseti itself. @hshin-g  could you take a look?

@xingao267 Could you try with [CFT Scorecard](https://github.com/GoogleCloudPlatform/cloud-foundation-toolkit/blob/master/cli/docs/scorecard.md) and see if the violations are reported there?

[2020-03-11 19:44] xingao267 commented on #301
@morgante wow, scorecard is able to find them, and it reports another one that is not reported by Forseti in CSCC, a constraint to check Private Google Access is enabled.

[2020-03-11 19:47] morgante commented on #301
Got it, definitely sounds like a Forseti issue then. @dekuhn Do you want to mind moving this to the Forseti repo?

[2020-03-16 21:04] gkowalski-google commented on #301
Thanks @xingao267 for opening this! We will investigate.

[2020-03-18 15:25] xingao267 opened #304 "Ancestry path does not work at resource (bucket, bigquery, vm, etc) level"
`match` block works with ancestry path, which most granularly at project level.
For resource level matching, it is handle via parameters and within the template logic, which depends on whether the template supports that or not.

This implies some limitation, and an example is what's supported by the current [legacy bigquery rule](https://github.com/forseti-security/terraform-google-forseti/blob/ma

[2020-03-20 17:40] hshin-g opened #306 "Unable to set up GCP Constraint Framework client"
Error when running the policy-tool linter on policy-library:

[code]

[2020-03-20 19:02] xingao267 opened #308 "What does `bundles.validator.forsetisecurity...` in `annotations` do?"

[2020-03-20 20:38] morgante commented on #308
It's meant to provide policy bundles (which are not yet exposed publicly).

[2020-03-20 20:38] #308 closed

[2020-03-20 21:00] morgante commented on #306
@briantkennedy Any idea what this error is? Looking at the [template](https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_sql_instance_type_v1.yaml) I don't see any obvious issues.

[2020-03-20 21:15] gkowalski-google commented on #306
[code]
Possibly because the [default](https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_sql_instance_type_v1.yaml#L35) is in quotes or related to the enum type?

This is the only other [template](https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_network_routing_v1.yaml#L28) I see with a default

[2020-03-20 21:15] briantkennedy commented on #306
It's in that last line of the error message `Forbidden: must not be set
2020/03/19 09:28:52 status changed to "ERROR"`.  #309 fixes the issue, but doesn't really help with the error formatting

[2020-03-20 21:15] #306 closed

[2020-03-20 21:32] #257 closed

[2020-03-21 00:52] #285 closed

[2020-03-25 19:05] gkowalski-google opened #312 "Add Forseti annotation to several samples"
Forseti will be enabling Config Validator by default in v2.26 and will pull in some default policies. Add the forseti annotation to the following:
- https://github.com/forseti-security/policy-library/blob/master/samples/bigquery_world_readable.yaml
- https://github.com/forseti-security/policy-library/blob/master/samples/restrict_fw_rules_world_open.yaml
- https://github.com/forseti-security/policy

[2020-03-25 20:27] gkowalski-google opened #314 "Add samples to check for BigQuery datasets exposed to gmail & googlegroups"
Forseti BigQuery scanner checks for datasets exposed to users with *@gmail.com and *@googlegroups.com email addresses. Add a sample to check for these and include the forseti annotation.

[2020-03-25 20:53] #312 closed

[2020-03-26 16:37] gkowalski-google opened #316 "Add Firewall sample for Forseti bundle"
Forseti checks for firewall rules that are open to every source IP, and expose TCP/UDP protocols to every port; they do not lock down the rule to a specific port range. Add a sample that will check for this. It will be similar to this, but will include the protocol/port configuration (e.g. `tcp:all`).

[2020-03-26 16:39] gkowalski-google opened #317 "Add KMS sample for Forseti bundle"
Forseti checks for crypto keys that are older than 100 days. The policy library contains a sample checking for 365 days. In order to switch over, we want to provide a policy that has the same behavior. Add a sample for this.

[2020-03-26 20:25] #268 closed

[2020-03-26 20:26] morgante commented on #317
I think it would be fine to change the existing sample to 365 days.

[2020-03-26 20:57] gkowalski-google commented on #317
Thanks, I considered it, but that [one is part of a CIS benchmark](https://github.com/forseti-security/policy-library/blob/master/samples/cmek_rotation.yaml). I know it's kind of silly to have 2, but want to make sure the default behavior remains the same out of the box with Forseti. And I need to have a sample in order to pull in the policy bundle easily with KPT.

[2020-03-26 21:01] #271 closed

[2020-03-26 21:09] gkowalski-google opened #318 "Add OPA test and format commands to makefile using Docker image"
Adding these common commands to the makefile would improve the dev experience. This allows devs to test the policies regardless of platform and not have to download the various versions of OPA.

[2020-03-26 21:10] morgante commented on #317
Do you know if the CIS benchmark actually requires this period though, or just the existence of one?

I'm fine with making a separate one if you want though.

[2020-03-26 21:16] #314 closed

[2020-03-26 22:46] gkowalski-google commented on #317
I reviewed the CIS benchmark and it looks like it was updated in v1.1 to require the CMEK to be rotated within 365 days. Forseti has defaulted to scanning for 100 days, will submit a PR for a new sample.

[2020-03-27 06:43] #317 closed

[2020-03-27 16:39] #318 closed

[2020-03-27 20:21] #267 closed

[2020-03-30 20:48] gkowalski-google commented on #304
@hshin-g Are you aware of this limitation? Sounds like this is something we should add into the existing BigQuery templates to have feature parity with the Python scanners.

[2020-03-30 21:15] morgante commented on #304
To be clear, this is an enhancement and not a bug. At present, `match` is only meant to apply to the project level.

[2020-04-02 22:24] gkowalski-google opened #323 "Restricted Firewall Template throws error for constraints using all ports"
## Story
If a constraint for the [restricted firewall rules template](https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_restricted_firewall_rules_v1.yaml) uses the parameter `port: "all"` AND a rule is evaluated that has a port range, then a rego error is thrown:

Error:
[code]

Sample constraint:
[code]

Sample rule:
[code]

## Proposed Solution
Update the exis

[2020-04-03 20:35] #323 closed

[2020-04-03 20:46] #316 closed

[2020-04-08 18:18] #266 closed

[2020-04-09 17:46] morgante opened #327 "Add kpt function Dockerfile"
For bundler

[2020-04-09 23:46] #269 closed

[2020-04-10 20:04] aimjwizards opened #329 "Request to allow whitelist buckets for GCPStorageBucketWorldReadableConstraintV1"
Please add in exemption feature in constraint in order to exempt/exclude specific buckets in the [GCPStorageBucketWorldReadableConstraintV1](https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_storage_bucket_world_readable_v1.yaml) template

Certain buckets such as CDN buckets are ok to be public and should be allowed to be specified as exemptions  like [example](

[2020-04-10 21:06] aimjwizards opened #330 "Request to add assetName as a field in GCPIAMAllowedBindingsConstraintV1"
Currently we only have assetType to restrict the policy scope to this [template](https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_iam_allowed_bindings_v1.yaml).

- assetType:
   description: "Restrict which asset type this policy applies to"
   type: string

Similar to what [CAI real time export asset](https://cloud.google.com/asset-inventory/docs/monitoring-as

[2020-04-10 23:34] #330 closed

[2020-04-14 16:59] #329 closed

[2020-04-14 18:15] gkowalski-google opened #335 "Add kpt function to pull policy bundle"
## Story
Add a kpt function to make it easy for users to pull in a bundle of policies.

## Proposed Solution
Kpt function will process a source dir (e.g. /samples) and accept an annotation to create a bundle for.

[2020-04-14 18:26] gkowalski-google opened #336 "Add ability to specify some parameters to policy bundle"
## Story
Users will need to specify some parameters to the policy bundle. For example, users will need to provide the target for the constraints. Most default to target the org, but some users run Forseti against a folder and the constraints would need to be updated.

## Proposed Solution
Explore using kpt setters or kustomize.

[2020-04-14 19:47] #185 closed

[2020-04-14 20:06] red2k18 commented on #181
The information here is inaccurate. `n1-standard-8` (30 GB of RAM) machine type is needed to account for larger GCP environments.

This information [is accurately documented on the Forseti website](https://forsetisecurity.org/docs/latest/setup/install/index.html) and no longer exists on the Policy Library repository. Hence, this issue can be closed.

[2020-04-14 21:02] #181 closed

[2020-04-20 14:32] AdrienWalkowiak commented on #124
Any update on this @ocervell

[2020-04-20 15:28] gkowalski-google commented on #124
@AdrienWalkowiak @ocervell This was likely fixed for Forseti with [this PR](https://github.com/forseti-security/forseti-security/pull/3721). Forseti had some incorrect logic where it was setting falsy values to None.

[2020-04-20 19:57] #335 closed

[2020-04-22 16:51] gkowalski-google commented on #186
The policies are now documented within the [Policy Library](https://github.com/forseti-security/policy-library/blob/master/docs/index.md) and a [KPT function is available to pull a policy bundle](https://github.com/forseti-security/policy-library/blob/master/docs/kpt_functions.md).

[2020-04-22 16:51] #186 closed

[2020-04-22 16:54] gkowalski-google commented on #112
The firewall template is now available: https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_restricted_firewall_rules_v1.yaml.

[2020-04-22 16:54] #112 closed

[2020-04-22 18:01] #327 closed

[2020-05-19 05:40] gkowalski-google opened #349 "Add sample to Forseti bundle for default IAM rules"
## Story
The default Forseti rules include a rule to restrict the Org Admin role from being assigned to users outside of your domain. Add or update a sample to the Forseti bundle to cover this.

## Proposed Solution
Update the [restrict domain] sample to add to the Forseti bundle and include a setter comment for the domain.

[2020-05-19 05:52] gkowalski-google opened #350 "Add constraint descriptions for the Forseti bundle"
The policy bundle docs include a page for all bundles that lists the constraints and a description of each. Add a description for each Forseti constraint missing a description.

[2020-05-20 02:57] #350 closed

[2020-05-21 22:31] gkowalski-google commented on #349
Changes are completed, but waiting on the other kpt setter to be merged after kpt is released.

[2020-05-29 14:03] lvaylet opened #354 "How to allow only a small number of projects to grant an IAM role?"
Hello,

I want to prevent all the projects in my GCP organization from granting the `roles/resourcemanager.projectIamAdmin` role to any member (user, group or service), except for a small number of projects.

I tried a combination of `blacklist` and `exclude` to allow a single project (`irn-70740-alpha-31`) to grant the otherwise forbidden role, but that does not work:

[code]

Are you able to spo

[2020-05-29 17:51] morgante commented on #354
The exclusion list uses project *numbers* not project IDs. Could you try something like this?

[code]

[2020-05-29 19:29] lvaylet commented on #354
Thanks @morgante for your quick reply. I ajusted the constraints with the project number:

[code]

However, Terraform Validator still detects a violation when applied to irn-70740-alpha-31 (project number 827673899623, in the exclusion list):

[code]

Running a similar pipeline on a project that is not excluded also raises a violation, but this one is expected:

[code]

I use the latest terraform-

[2020-05-29 22:58] morgante commented on #354
Odd, that does sound like a bug. I'll do a deeper dive.

[2020-05-30 11:14] lvaylet commented on #354
Thanks @morgante. Let me know if I can help reproduce the issue.

Could the 'bug" be related to how I run `terraform-validator` and how I use `--project` option?

[code]

Should I use the project number instead, same as in the exclusion list? I found that `terraform-validator` is unable to guess the project ID from the terraform plan most of the time, so I find it safer to pass it directly.

Final

[2020-06-03 18:19] lvaylet commented on #354
Hi @morgante. Any update to share? Can I help with anything?

[2020-06-03 19:33] xingao267 opened #356 "glob(**) does not work in target match for policies"
When I use ** in the `target` field under `match`, Forseti Config Validator errors out.

Policy:
[code]

Error message snippet:
[code]

From the CV regex matching [tests](https://github.com/forseti-security/config-validator/blob/1851e960cf3c357a62948c3de088fd3234f1c372/pkg/gcptarget/gcptarget_test.go), it seems such feature is supported.

It's a very useful feature to help make sure policy target

[2020-06-03 19:58] morgante commented on #354
Sorry for the delay but I've been able to successfully reproduce this. It looks like there are actually *two* different issues at play:

- https://github.com/forseti-security/config-validator/issues/142: FCV is failing to properly handle wildcards in exclusion targets
- https://github.com/GoogleCloudPlatform/terraform-validator/issues/141: Terraform Validator is using the wrong ancestry path info.

[2020-06-03 20:43] lvaylet commented on #354
No apologies needed and thanks a lot for looking into the issue. Let me update the exclusion rule  first thing tomorrow morning and keep you posted. Is it the only change you recommend I make? Shall I keep calling `terraform-validator` with `--project=<project-id>`? Shall I try specifying the ancestry manually too?

[2020-06-03 20:44] morgante commented on #354
In theory, that should work. Note you'll need to include the full ancestry for the project (including projects) in the constraint.

[2020-06-03 20:46] lvaylet commented on #354
Sounds good to me. I will make sure to include the full ancestry and use the project IDs instead of the project numbers.

[2020-06-04 07:01] lvaylet commented on #354
Hi @morgante. I was able to tweak the exclusion rule so the constraint works as expected. Just note that I had to include the full ancestry path (as provided by `gcloud projects get-ancestors <project-id>`) including all the folders in between the organization and the project itself:

[code]

I was pretty sure your suggestion was my first failed attempt but I was willing to retry, just in case. It

[2020-06-04 07:26] morgante commented on #354
Glad it worked for you! I'm going to go ahead and close this issue, but you can follow the linked issues to watch for a more permanent fix.

[2020-06-04 07:26] #354 closed

[2020-06-05 13:58] rosmo opened #357 "GCPBigQueryDatasetWorldReadableConstraintV1 false positive"
I'm getting lots of warnings about BigQuery datasets being public. Example:

[code]
IAM policies for the dataset:
[code]

There's no allUsers or allAuthenticatedUsers anywhere.

[2020-06-05 15:42] morgante commented on #357
What client are you using? Looking at the rule, I don't see any obvious reason for this failing: https://github.com/forseti-security/policy-library/blob/4e070db149c2f969400df22804baa63c0c5c64dc/validator/bigquery_dataset_world_readable.rego

[2020-06-05 15:45] rosmo commented on #357
Ah, sorry. I'm using CFT Scorecard.

[2020-06-05 16:28] #336 closed

[2020-06-05 19:11] morgante commented on #357
I'm able to replicate this, working on a fix.

[2020-06-05 22:45] morgante commented on #357
Turns out we'd forgotten to sync the policy, it's a trivial fix - #358

[2020-06-05 22:47] morgante opened #359 "Prevent unsynced policies"
To prevent a recurrence of #358 (which took way too much time to debug for a trivial fix), we should add CI checks to confirm that `make build` has been run.

[2020-06-07 04:40] morgante opened #362 "Change to more inclusive language"
The terms "blacklist" and "whitelist" are [unrecommended](https://developers.google.com/style/inclusive-documentation#features-and-users).

We currently have [55 instances](https://github.com/forseti-security/policy-library/search?q=blacklist&unscoped_q=blacklist) of `blacklist` and [68 instances](https://github.com/forseti-security/policy-library/search?q=whitelist) of `whitelist` which we should

[2020-06-08 19:08] briantkennedy commented on #362
Adding the type to the field name gets a bit redundant while reading the field, let's go for `deny` and `allow`.

[2020-06-09 01:49] #357 closed

[2020-06-15 20:57] #359 closed

[2020-06-15 20:58] #362 closed

[2020-06-16 16:09] xingao267 opened #367 "IAM Audit log policy validation seems producing false positives"
I have the following constraints and CAI data

[code]

[code]

It seems should be good and do not report violations. But when I run the CFT scorecard on those, it gives the following violation
[code]

[2020-06-16 20:33] morgante commented on #367
For your case, I suspect it's because there are additional audit logs enabled *besides* `allServices`. A fix will need to be made on the policy template (happy to accept a PR).

[2020-06-16 22:42] xingao267 commented on #367
My testing CAI dataset only has that one entry. I suspect there is other bug in the rego rule. I tried to understand https://github.com/forseti-security/policy-library/blob/master/validator/iam_audit_log.rego and follow the logic there but it was quite involving. Might need some help or guidance from the original authur @t12g

[2020-06-17 16:26] xingao267 opened #369 "storage location policy: violations is not reported when exemptions list is not specified"
Adding `exemptions: []` would make it work, but it's a little counter-intuitive.

[2020-06-17 16:38] morgante commented on #369
We should update https://github.com/forseti-security/policy-library/blob/master/validator/storage_location.rego#L32 to use `get_default`.

[2020-06-17 18:29] xingao267 commented on #369
just tested bq dataset location has the same issue.

[2020-06-17 19:16] xingao267 commented on #369
and sql location

[2020-06-19 18:23] xingao267 commented on #367
I did a bit more investigation. It looks like input.asset.audit_configs is empty after CAI data is read into CFT Scorecard or CV. input.asset.bindings is there though.

[2020-06-19 18:32] morgante commented on #367
This might be a problem with the asset protos not including audit configus.

[2020-06-19 19:15] briantkennedy commented on #367
What's the setup you have for forseti / config validator?

[2020-06-19 19:16] xingao267 commented on #367
I'm testing with CFT Scorecard using `cft` 0.3.4.

I guess the proto might be here https://github.com/googleapis/googleapis/blob/master/google/iam/v1/policy.proto where audit_config is not there.

[2020-06-19 20:36] #369 closed

[2020-06-29 14:52] xingao267 commented on #176
Is this due to the same issue as https://github.com/forseti-security/policy-library/issues/367?

[2020-06-29 15:00] xingao267 commented on #176
From my understanding on the discussion, to fix this issue, we need

1. Add `audit_configs` in the public IAM proto https://github.com/googleapis/googleapis/blob/master/google/iam/v1/policy.proto. I've contacted the IAM team for that. This should fix CV, CFT Scorecard and Forseti (when using the version of CV which has this fix).

2. Add support for `audit_configs` in https://github.com/GoogleClou

[2020-06-30 16:21] gkowalski-google opened #372 "Add documentation on how to set constraint target"
Several users have run into issues because there is no instructions on how to set the constraint target. This needs to be set correctly depending on how users are running Config Validator. If it is not set correctly, then no violations will be found.

[2020-07-07 16:31] akamalov opened #373 "Logic problem when trying to identify a violation"
Greetings,

Trying to create Forseti policy to identify shielded VMs. In the policy I am looking at

**File: test_gcp_compute_secure_boot_vm_test.rego**

[code]

Above, I am requesting that:

	- if there arer no intances, there would be no violations
	- if no constraints have been applied, raise a flag
	- if an instance running without secure_boot parameters applied, raise a flag

**Asset: data.js

[2020-07-07 16:36] morgante commented on #373
Hi there!

First off, I recommend switching to the new test utils: https://github.com/forseti-security/policy-library/blob/master/validator/test_utils.rego

[2020-07-07 16:52] akamalov commented on #373
Thanks so much for prompt reply @morgante . Here is the policy constraint file:

**File: test_gcp_compute_secure_boot_vm.yaml**

[code]

Validator test contraint file - **data.yaml**

[code]

Will definitely switch to new test util.

[2020-07-14 14:53] akamalov commented on #373
@morgante , anyway to take a look at my policy logic, please? Very much appreciated!

[2020-07-28 05:49] gkowalski-google commented on #373
@akamalov Any luck? Sorry I haven't had a chance to look into this yet, will try to review this week. Can you share the constraint template (should be located in the templates directory). If you have a fork of this repo, it would be helpful to see a branch/PR to review everything.

[2020-07-30 05:26] morgante commented on #176
@xingao267 Your analysis is correct.

[2020-07-31 20:11] #349 closed

[2020-08-11 18:20] morgante commented on #373
@akamalov Can you share your template/policy logic? Without that it's hard to know what's breaking for you.

[2020-09-11 19:40] xingao267 opened #375 "make generate_docs generates `EACCES: permission denied` error"
At commit ccab976557943550d764659abce52372ecaba94d

[code]

[2020-09-11 21:24] xingao267 opened #376 "How to add a new policy bundle"
Is there any existing instructions around the process of how to add a new policy bundle? I'm working on adding a healthcare-best-practices policy bundle. And based on my guesses, I just add a new entry to the policy sample that I would like to include in the bundle, e.g. in `samples/storage_location.yaml`'s `metadata.annotations` list, I added line `bundles.validator.forsetisecurity.org/healthcare

[2020-09-15 18:22] xingao267 commented on #376
@morgante @gkowalski-google any guidance here?

[2020-09-15 18:24] morgante commented on #376
@xingao267 Yes you just need to add the annotation on the resources + run `make generate_docs`.

[2020-09-15 20:43] xingao267 commented on #376
@morgante thanks! I hit this error when trying to run `make generate_docs` though https://github.com/forseti-security/policy-library/issues/375

[2020-09-15 21:13] gkowalski-google commented on #375
@xingao267 Can you take a look at what the permissions are for `/docs/func.yaml`?

[2020-09-15 21:13] gkowalski-google commented on #376
It looks like it's just a permissions issue, can you take a look and see if you have write permissions to that file?

[2020-09-15 22:15] xingao267 commented on #375
I do have write permission on the file.
[code]

It seems the permission issue is from within the container.

[2020-09-18 16:29] xingao267 commented on #375
The cause is the generate_docs container sets the default user to be [`node`](https://github.com/forseti-security/policy-library/blob/master/bundler/build/generate_docs.Dockerfile#L27), which does not have `write` permission to the files under `docs` dir by default when those files are mounted into the container. I bypassed it by adding `-u root` in the `docker run` command in the `make generate_d

[2020-09-18 17:03] #375 closed

[2020-09-22 17:23] xingao267 commented on #375
I'm still getting this error. The generate doc dev container needs to be rebuilt and published i guess.

[2020-09-22 17:23] #376 closed

[2020-09-22 17:32] gkowalski-google commented on #375
The updated docker image was successfully built and published on Friday.

[2020-09-23 05:51] sharad1994 opened #379 "compute_allowed_networks not working as expected"
Hi team,

i just started using terraform-validator for scanning my tf plan files.

While trying to secure the network for compute engine, it is not throwing any error even though teh network in not the one mentioned in the allowed section.

Here are the tf scripts:
## main.tf
### Creating the compute instance resource

resource "google_compute_instance" "compute-service" {
  name         = var.ins

[2020-09-23 07:31] Deeksha-5 commented on #379
I too am facing a similar issue with this validator tool, also tried it for network policy to [check flow logs status](https://github.com/forseti-security/policy-library/blob/master/samples/network_enable_flow_logs.yaml), and the tool is not showing any violations, even when they are present.
But some sample policies, like for storage, are working correctly.
Even compared to the rego codes for sim

[2020-09-23 15:40] morgante commented on #379
Closing as duplicate of https://github.com/GoogleCloudPlatform/terraform-validator/issues/152

[2020-09-23 15:40] #379 closed

[2020-11-03 18:25] linde opened #383 "gcp-gke-dashboard-v1 is out of sync with current google_container_cluster resource"
the [dashboard_disabled()](https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_gke_dashboard_v1.yaml#L71) rego function checks to ensure that there is a disabled value for any cluster's addon config kubernetes_dashboard enabled flag. at this time, there isnt such a structure to disable -- an example CAI extract snippet which shows the current structure is:

[code]

[2020-11-10 12:57] vvdaal opened #385 "Samples seem wrong and documentation seems lacking on target combined with Forseti v2.25.2"
https://github.com/forseti-security/policy-library/blob/master/docs/user_guide.md mentions "organizations" (plural).
Pretty much all examples on https://github.com/forseti-security/policy-library/tree/master/samples also mention "organizations" (plural).

However when you use Forseti v2.25.2 (Used the Forseti Terraform Module to install it) it seems any constraint with the use of "organizations" f

[2020-11-12 20:28] MartinPetkov opened #386 "Rename "master" branch to "main" branch"
Context: https://github.com/github/renaming

I haven't tried this myself, but these are the supposed [steps](https://www.techrepublic.com/article/github-to-replace-master-with-main-starting-in-october-what-developers-need-to-know/#:~:text=This%20change%20across%20the%20tech,time%20to%20get%20used%20to.) to do this:

[code]

PS There may be more things to change that I'm not aware of, such as build

[2020-11-12 22:40] ralsu091 commented on #385
I think you are right, I tried using the `always_violates_all' constraint with "organizations/*" and that didn't work (nothing was reported). I used the singular form of organization and folder and Forseti was able to report violations.

Hopefully we can get clarification on when should we use plural vs singular.

[2020-11-12 22:53] morgante commented on #385
@gkowalski-google Is Forseti on an old version of Config Validator?

[2020-11-12 23:06] vvdaal commented on #385
I also tested the master branch of this repo which uses the new docker config validator (with the default tag). Same problem.

[2020-11-12 23:09] vvdaal opened #387 "Config validator is too verbose"
On the current master branch I noticed that config validator in the service initialize script is too verbose. Since this is a threaded program itll fill your syslog and cloud logs quite quickly.

[2020-11-12 23:10] morgante commented on #387
Please file these sorts of issue with Forseti: https://github.com/forseti-security/forseti-security

This isn't an issue with the policies.

[2020-11-12 23:10] #387 closed

[2020-11-12 23:11] vvdaal commented on #387
My bad! Wrong repo :-)

[2020-12-02 02:57] daniel-cit opened #388 "The policy "storage bucket policy only" is using deprecated argument bucketPolicyOnly"
`gcp_storage_bucket_policy_only_v1.yaml` and `storage_bucket_policy_only.rego` are using only the deprecated argument `bucketPolicyOnly` in the validation:

https://github.com/forseti-security/policy-library/blob/73fdd2fee8f9aa71f66e6cc1d1c781a712f6cf73/policies/templates/gcp_storage_bucket_policy_only_v1.yaml#L79

https://github.com/forseti-security/policy-library/blob/73fdd2fee8f9aa71f66e6cc1d1c

[2020-12-02 22:25] daniel-cit commented on #388
One option would be to create an `gcp_storage_bucket_policy_only`  **version 2** that uses the new argument `UniformBucketLevelAccess`

[2020-12-02 22:27] morgante commented on #388
I believe the best approach would actually be to update the policy so it looks for either UniformBucketlevelAccess or bucketPolicyOnly.

[2020-12-02 22:32] daniel-cit commented on #388
Related issue in terraform-google-conversion https://github.com/GoogleCloudPlatform/terraform-google-conversion/issues/591

[2020-12-21 16:07] krab-skunk opened #389 "Severity field not taken into account in Security Command Center"
Hi, i'm using master branch (from 2 days ago) forseti and latest docker image for Config Validator.

They work great together and find me violations but i don't see the severity field being taken into account.

Example with one simple policy:

[code]

The config validator detect a violation and notifier push the notification correctly to the SCC, but as you notice, **severity is set to HIGH in the

[2020-12-21 16:32] morgante commented on #389
@krab-skunk I don't think this is wired up in Forseti unfortunately, moving this issue [there](https://github.com/forseti-security/forseti-security).

[2020-12-21 16:32] #389 closed

[2021-01-07 23:55] #388 closed

[2021-02-24 20:58] jdyke opened #392 "GCPGKEPrivateClusterConstraintV1 does not validate private endpoint + public nodes"
The logic in `GCPGKEPrivateClusterConstraintV1` will not catch a `google_container_cluster` resource with the following configuration:

[code]

This is due to `GCPGKEPrivateClusterConstraintV1` only checking to see if `private_cluster_config` exists or not:

[code]

Example terraform plan in JSON format:

[code]

[2021-02-24 22:30] jdyke commented on #392
No prob @morgante I can take this one

[2021-03-04 20:24] renato-rudnicki opened #393 "Terraform and terraform-validator versions are out-of-date"
Terraform and terraform-validator are out-of-date on user guide. Currently, user guide is mentioning **gs://terraform-validator/releases/2019-04-04/terraform-validator-windows-amd64** and **Terraform v0.11** which aren't the latest one.

See https://github.com/forseti-security/policy-library/blob/master/docs/user_guide.md#install-terraform-validator

[2021-07-21 03:28] jralmaraz opened #400 "Question: managing centralised constraint exclusion"
Hi,

We're looking for recommendation on how to centralise managing target exclusions.

My initial idea is to have a file or variable that would have the list of projects to be excluded and use some YAML placeholder.

Can you confirm if that approach is correct and hopefully provide an example ?

Thanks!

---

Example, project folders to be excluded (keep some variable file so people who get exemp

[2021-07-21 03:32] morgante commented on #400
Can you clarify the use case / what problem you're trying to solve?

In general, exclusions are for excluding a project from a particular constraint that would otherwise apply (ex. a particular project needs to publish a public bucket), not to exclude projects from *all* constraints. In such scenarios, they should just need to raise a PR adding it to the exclusion list in `constraint.yaml`.

[2021-07-21 03:40] jralmaraz commented on #400
Hi @morgante , thanks for the update.

Agreed they can just raise a PR adding to the exclusion list, my idea was to simplify and having them to edit a central variables file containing the constraint ID as the key value, for example, so to avoid typos or other breaking changes in the constraints file itself, people would just update the variable file and keeping a track for approval/audit.

Is tha

[2021-07-21 04:09] morgante commented on #400
Since the variable would theoretically just be mirrored into the constraint yaml, I don't think you're gaining any protection from typos. I'd recommend sticking to editing the constraint directly (and building appropriate processes around verifying that changes are valid).

[2021-07-21 04:09] #400 closed

[2021-07-21 08:24] jralmaraz commented on #400
Sure thing, appreciate the response, cheers.

[2021-09-02 15:27] rajlearner17 opened #403 "KPT break to install the bundle."
Is it the only way to install through KPT? I am running kpt version 1.0.0-beta.1. What I am doing wrong here ?
[code]

[2021-09-02 15:47] morgante commented on #403
Thanks for flagging this, it looks like we need to update the bundles to work with kpt v1.

[2021-09-24 14:39] zack-amirakulov opened #404 "gcp_enforce_naming DOES NOT work when a random string added to resource name"
gcp_enforce_naming DOES NOT work when a random string is added to the resource name. An error with _placeholder-BpLnfgDs_

Reproduced with the following TF code:

[code]

Getting error:
//storage.googleapis.com/placeholder-BpLnfgDs: placeholder-BpLnfgDs does not obey the naming convention. Use built-in Terraform modules for provisioning resources. **Full address: //storage.googleapis.com/placehold

[2021-10-26 16:15] xingao267 opened #407 "rego_parse_error: no match found error for gcp_compute_block_ssh_keys_v1 and gcp_compute_enable_oslogin_project_v1"
When running CFT Scorecard 0.3.4 with the latest policies, I got the following errors.

[code]

It looks like the errors are from the two new compute related policies: `gcp-compute-block-ssh-keys-v1` and `gcp-compute-enable-oslogin-project-v1`. Any idea how to fix this?

[2021-10-29 19:55] #407 closed

[2021-11-05 03:17] hussainak opened #413 "Service Account Key Age policy has a bug"
Google SA keys have an expiration for year 10,000. The rego for https://github.com/GoogleCloudPlatform/policy-library/blob/master/policies/templates/gcp_iam_restrict_service_account_key_age_v1.yaml uses `time.parse_rfc3339_ns` method that does not work beyonf the year 2600ish. Please see the fix below:

https://play.openpolicyagent.org/p/cbOS7WYfnC

[2021-11-09 22:21] jsmilani opened #414 "google_compute_subnetwork enable_flow_logs deprecated in google terraform 3.0.0 and GCPNetworkEnableFlowLogsConstraintV1 broken"
I am applying the the https://github.com/terraform-google-modules/terraform-example-foundation for my company and used this policy library but encountered a problem when validating the 3-networks stage. We are using the Cloud Build instructions so we never customized terraform or google plugin versions at all. We are using most, if not all the policies from this repo because we need the added secu

[2021-11-11 16:56] jsmilani commented on #414
I found this source code https://github.com/GoogleCloudPlatform/terraform-google-conversion/blob/master/google/compute_subnetwork.go#L261 that helped me locate an `enabled` field nested under `logConfig`  that should be equivalent to the deprecated `enable_flow_logs` field:

[code]

I tested with log_config set and unset. The violation is raised when unset so this looks like a solution for the new

[2021-11-11 21:10] morgante commented on #414
@jsmilani Thanks for investigating. I think we can actually do this without forcing a new policy version by:

1. Looking for the old field (enableFlowLogs)
2. Looking for the new field (logConfig)

Then, raise a violation if neither is found.

If you're able to work on a PR for this, it would be very appreciated!

[2021-11-18 19:11] Jberlinsky opened #416 "Make superglobbing more clear"
Some policies (i.e. `iam_allowed_bindings`) automatically convert a string with the single character `*` to a super-glob (`**`). This is unclear to users, who might assume that a wildcard (`*`) would be valid throughout the string (which it is not -- it must be explicitly set as a superglob).

Creating this issue to track making this particular part of the developer experience a little easier -- p

[2021-12-09 20:52] jacks-reid opened #419 "Include gke_enable_binauthz_v1 template and constraint in master branch"
`gke_enable_binauthz_v1` has a [template](https://github.com/GoogleCloudPlatform/policy-library/blob/cloud-security-posture-management/policies/templates/gcp_gke_enable_binauthz_v1.yaml) and [constraint](https://github.com/GoogleCloudPlatform/policy-library/blob/cloud-security-posture-management/cspm-constraints/gke_enable_binauthz.yaml) in the `cloud-security-posture-management` branch of the rep

[2021-12-09 21:00] morgante commented on #419
We should copy it over without the ancestry_path metadata. I'd be happy to review a PR.

[2021-12-09 22:41] jacks-reid commented on #419
Thanks for the quick reply. I'll take a stab at an initial PR.

[2021-12-11 15:10] HarshalRane23 opened #421 "GCP Compute zone policy not working, not showing any violations"
We have followed official terraform validator and installed version 6.0
One the policy is not working as expected [link](https://github.com/GoogleCloudPlatform/policy-library/blob/master/samples/compute_zone.yaml).
Our target is to create a tf-validator policy for vm outside certain zone. there is not error with policy just that its not showing any violations. Adding tf-plan.json and [deployments.

[2021-12-11 15:10] HarshalRane23 commented on #421
condition file
`apiVersion: constraints.gatekeeper.sh/v1alpha1
kind: GCPComputeZoneConstraintV1
metadata:
  name: compute_zone_allowlist_one
  annotations:
    description: Checks the instances and Persistent Disks are in desired zones.
spec:
  severity: high
  parameters:
    mode: "allowlist"
    zones:
    - asia-east1-b
    exemptions: []`

[2021-12-11 15:11] HarshalRane23 commented on #421
apiVersion: constraints.gatekeeper.sh/v1alpha1
kind: GCPComputeZoneConstraintV1
metadata:
  name: compute_zone_allowlist_one
  annotations:
    description: Checks the instances and Persistent Disks are in desired zones.
spec:
  severity: high
  parameters:
    mode: "allowlist"
    zones:
    - asia-east1-b
    exemptions: []

[2021-12-13 18:59] #419 closed

[2022-04-05 17:27] DevOpsCoder15 commented on #414
I see this bug is still open although a solution has been identified.  When will the fix be applied?

[2022-08-26 21:53] #414 closed

[2022-09-20 14:14] cova-fe opened #431 "Authoring Rego rules for constraint template"
Hi all, I'm working on some rego rules for RAM and I have some use cases where the usage of a single

`deny [{}] {}`, as recommended in current rego rules guide

https://github.com/GoogleCloudPlatform/policy-library/blob/main/docs/constraint_template_authoring.md#write-rego-rule-for-constraint-template

could lead to some complex code.

So I'm wondering why it is not possible to use something like